/* Error: Missing argument $vertical.
 *   ,--> sass\pages\_accueil.scss
 * 57|     @include shadow(0 6px 8px $dark-gray);
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass\utils\_mixins.scss
 * 7 | @mixin shadow($horizontal, $vertical, $softening, $color) {
 *   |        ================================================== declaration
 *   '
 *   sass\pages\_accueil.scss 57:5  shadow()
 *   sass\pages\_accueil.scss 57:5  @import
 *   sass\main.scss 6:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $vertical.\a   \250c \2500 \2500 > sass\\pages\\_accueil.scss\a 57\2502      @include shadow(0 6px 8px $dark-gray);\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass\\utils\\_mixins.scss\a 7 \2502  @mixin shadow($horizontal, $vertical, $softening, $color) {\d\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   sass\\pages\\_accueil.scss 57:5  shadow()\a   sass\\pages\\_accueil.scss 57:5  @import\a   sass\\main.scss 6:9             root stylesheet";
}
