body {
  margin: auto;
  max-width: 1400px;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding-left: 0;
}

li {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

figure {
  margin: 0;
}

body > header {
  margin: 20px 0 8px 0;
  text-align: center;
}
body > header .logo {
  height: 30px;
}
body > header i {
  position: relative;
  right: 90px;
  bottom: 10px;
}

footer {
  padding: 5px 20px;
  color: #fff;
  background-color: #3a3838;
}
footer h3 {
  font-family: Shrikhand, Lucida Caligraphy, cursive;
}
@media (min-width: 768px) {
  footer h3 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
footer a {
  color: #fff;
}
footer i {
  margin-right: 6px;
}

h2 {
  text-transform: capitalize;
}

.search {
  padding-bottom: 50px;
  text-align: center;
  background-color: #f7f7f7;
}
.search form {
  padding: 10px 0;
  background: linear-gradient(#d5d3d3 0, #eeeded 10%);
}
.search form input {
  border: none;
  padding: 10px 0;
  background-color: #eeeded;
}
.search div {
  padding: 30px 0;
}
.search h1 {
  padding: 0 40px;
}
.search p {
  padding: 0 15px 30px 15px;
}
.search a {
  margin: 20px 0;
  border-radius: 30px;
  padding: 15px 20px;
  color: #fff;
  background: linear-gradient(#ff79da 10%, rgb(147, 86, 220) 100%);
  box-shadow: 0 10px 6px #eeeded;
}
.search a:hover, .search a:focus {
  background: linear-gradient(rgba(255, 121, 218, 0.8) 10%, rgba(147, 86, 220, 0.8) 100%);
  box-shadow: 0 10px 6px #c1bdbd;
}

.functioning {
  padding: 30px 20px;
}
.functioning ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .functioning ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
.functioning li {
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  padding: 20px 0;
  background-color: #f7f7f7;
  box-shadow: 0 6px 8px #eeeded;
}
@media (min-width: 768px) {
  .functioning li {
    width: 100%;
  }
}
.functioning li:hover, .functioning li:focus {
  background-color: #f4eefc;
}
.functioning li:hover i:nth-child(2), .functioning li:focus i:nth-child(2) {
  color: rgb(147, 86, 220);
}
.functioning i {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .functioning i {
    margin-right: 5px;
  }
}
.functioning i:first-child {
  margin-left: -11px;
  border-radius: 30px;
  padding: 6px 7px;
  background-color: rgb(147, 86, 220);
  color: #fff;
  font-size: 0.6rem;
}
.functioning i:nth-child(2) {
  color: #adaaaa;
}

.restaurants {
  padding: 30px 20px 40px 20px;
  background-color: #f7f7f7;
}
.restaurants ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .restaurants ul {
    flex-direction: initial;
  }
}
@media (min-width: 992px) {
  .restaurants ul {
    justify-content: space-between;
  }
}
.restaurants li {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 6px #eeeded;
}
@media (min-width: 992px) {
  .restaurants li {
    width: 100%;
  }
}
.restaurants figcaption {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.restaurants img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .restaurants img {
    height: 160px;
  }
}
@media (min-width: 992px) {
  .restaurants img {
    height: 240px;
  }
}
.restaurants h3,
.restaurants p {
  margin: 0;
}
.restaurants header {
  line-height: 1.5rem;
}
.restaurants .fa-solid {
  color: transparent;
}
.restaurants i {
  position: absolute;
  right: 30px;
  margin-right: 13px;
  font-size: 1.6rem;
  transition: color 1s;
}
.restaurants i:hover, .restaurants i:focus {
  color: rgb(147, 86, 220);
}

* {
  font-family: Roboto, Arial, sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
}
.menu img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .menu img {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .menu img {
    height: 480px;
  }
}
.menu article {
  position: relative;
  top: -60px;
  border-radius: 60px 60px 0 0;
  padding: 30px 20px 0 20px;
  background-color: #f7f7f7;
}
@media (min-width: 768px) {
  .menu article > section {
    margin-bottom: 30px;
    width: 100%;
  }
}
.menu article h2 {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 6px;
  width: 55px;
  font-weight: 100;
  text-transform: uppercase;
}
.menu article li {
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 14px;
  background-color: #fff;
  box-shadow: 0 10px 6px #eeeded;
}
@media (min-width: 992px) {
  .menu article {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .menu article div {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
.menu h1,
.menu h3,
.menu p {
  margin: 0;
}
.menu h1 {
  font-family: Shrikhand, Lucida Caligraphy, cursive;
}
.menu header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu header .fa-solid {
  color: transparent;
}
.menu header i {
  position: absolute;
  right: 30px;
  margin-right: 20px;
  font-size: 1.6rem;
  transition: color 1s;
}
.menu header i:hover, .menu header i:focus {
  color: rgb(147, 86, 220);
}
.menu button {
  margin: -20px auto 50px auto;
  border: none;
  border-radius: 30px;
  padding: 20px 60px;
  color: #fff;
  background: linear-gradient(#ff79da 10%, rgb(147, 86, 220) 100%);
  box-shadow: 0 10px 6px #eeeded;
}
.menu button:hover, .menu button:focus {
  background: linear-gradient(rgba(255, 121, 218, 0.8) 10%, rgba(147, 86, 220, 0.8) 100%);
  box-shadow: 0 10px 6px #c1bdbd;
}
@media (min-width: 768px) {
  .menu {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
