body {
  padding: 30px 20px;
}

* {
  font-family: Roboto, Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: Shrikhand, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  display: block;
}

figure {
  margin: 0;
}

