body {
  position: relative;
  margin: auto;
  max-width: 1400px;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  padding-left: 0;
}

li {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

figure {
  margin: 0;
}

