.search {
  padding-bottom: 50px;
  text-align: center;
  background-color: $gray;

  form {
    padding: 10px 0;
    background: linear-gradient(180deg, $gray-border 5%, $dark-gray 5%);

    input {
      border: none;
      padding: 10px 0;
      background-color: $dark-gray;
    }
  }

  div {
    padding: 30px 0;
  }

  h1 {
     padding: 0 40px;
  }

  p {
    padding: 0 15px 30px 15px;
  }
  
  a {
    margin: 20px 0;
    border-radius: 30px;
    padding: 15px 20px;
    background: linear-gradient(180deg, $secondary 0%, $primary 100%);
    color: $white;
  }
}

.functioning {
  padding: 30px 20px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  li {
    border: 1px solid $gray;
    border-radius: 20px;
    padding: 20px 0;
    background-color: $gray;
    box-shadow: 0 6px 8px $dark-gray;

    &:hover {
      background-color: adjust-color($color: $primary, $lightness: 36%)
    }

    i {
      margin-right: 20px;
    }

    i:first-child {
      margin-left: -11px;
      border-radius: 30px;
      padding: 6px 7px;
      background-color: $primary;
      color: $white;
      font-size: 0.6rem;
    }

    i:nth-child(2) {
      color: $icons-functioning;
      &:hover {
        color: $primary;
      }
    }
  }
}

.restaurants {
  padding: 30px 20px 40px 20px;
  background-color: $gray;
}

