* {
  @include roboto;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $gray;

  img {
    height: 280px;
    width: 100%;
    object-fit: cover;

    @media (min-width: $tablet) {
      height: 400px;
    }

    @media (min-width: $desktop) {
      height: 480px;
    }
  }

  article {
    position: relative;
    top: -60px;
    border-radius: 60px 60px 0 0;
    padding: 30px 20px 0 20px;
    background-color: $gray;

    > section {
      @media (min-width: $tablet) {
        margin-bottom: 30px;
        width: 100%;
      }
    }

    h2 {
      border-bottom: 3px solid $tertiary;
      padding-bottom: 6px;
      width: 55px;
      font-weight: 100;
      text-transform: uppercase;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      border-radius: 20px;
      background-color: $white;
      max-height: 70px;
      cursor: pointer;
      @include shadow(0, 10px, 6px, $dark-gray);

      overflow: hidden;

      section {
        padding: 14px;
        width: 100%;
      }

      b {
        margin-right: 10px;
      }

      .check-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        border-radius: 0 20px 20px 0;
        height: 70px;
        background-color: $tertiary;
        transform: scaleX(0);
        transform-origin: 100% 0;
        transition: all 500ms ease-in-out;
        
        i {
          color: $white;
          font-size: 1.6rem;
          transform: rotate(0deg);
          transition: transform 500ms;
        }
      }

      &:hover {
        .check-icon {
          transform: scaleX(1);
          padding: 0 20px;
        }

        i {
          transform: rotate(360deg);
        }
      }
    }

    @media (min-width: $desktop) {
      display: flex;
      flex-direction: column;
    }

    .dishes {
      @media (min-width: $desktop) {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
      }
    }
  }

  h1,
  h3,
  p {
      margin: 0;
  }

  h1 {
    @include shrikhand;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .hearts {
      position: relative;
      margin-right: 20px;
    }

    .fa-solid {
      position: absolute;
      left: 0;
      z-index: 1;
      color: transparent;
    }

    i {
      font-size: 1.6rem;
      transition: color 1s;

      &:hover,
      &:focus {
        color: $primary;
      }
    }
  }

  button {
    margin: -20px auto 50px auto;
    border: none;
    border-radius: 30px;
    padding: 20px 60px;
    color: $white;
    @include gradient($secondary, 10%, $primary, 100%);
    @include shadow(0, 10px, 6px, $dark-gray);

    &:hover,
    &:focus {
      @include gradient($light-secondary, 10%, $light-primary, 100%);
      @include shadow(0, 10px, 6px, $hover-gray);
    }
  }

  @media (min-width: $tablet) {
    text-align: center;
  }
}

