// colors
$primary: rgb(147,86,220);
$light-primary: rgb(147,86,220,0.8);
$secondary: #FF79DA;
$light-secondary: rgb(255,121,218,0.8);
$tertiary: #99E2D0;
$footer-background: #3a3838;
$white: #fff;
$black: #000;
$gray: #F7F7F7;
$gray-border: #d5d3d3;
$dark-gray:#eeeded;
$hover-gray: #c1bdbd;
$icons-functioning: #adaaaa;

// sizes
$tablet: 768px;
$desktop: 992px;