body > header {
  margin: 20px 0 8px 0;
  text-align: center;

  .logo {
    height: 30px;
  }

  i {
    position: relative;
    right: 40px;
    bottom: 10px;

    @media (min-width: $tablet) {
      right: 260px;
    }

    @media (min-width: $desktop) {
      right: 350px;
    }
  }
}
